{{ template "base" . }}
{{ define "title" }}Admin - Users{{ end }}
{{ define "header" }}<a class="whitespace-pre" href="../admin">Admin - Users</a>{{ end }}
{{ define "content" }}
<div class="relative h-full overflow-x-auto">
  <input type="checkbox" id="add-button" class="hidden peer/add" />
  <div class="absolute top-10 left-10 p-3 transition-all duration-200 bg-gray-200 rounded shadow-lg shadow-gray-500 dark:shadow-gray-900 dark:bg-gray-600 hidden peer-checked/add:block">
    <form method="POST"
          action="./users"
          class="flex flex-col gap-2 text-black dark:text-white text-sm">
      <input type="text"
             id="operation"
             name="operation"
             value="CREATE"
             class="hidden" />
      <input type="text"
             id="user"
             name="user"
             placeholder="User"
             class="p-2 bg-gray-300 text-black dark:bg-gray-700 dark:text-white" />
      <input type="password"
             id="password"
             name="password"
             placeholder="Password"
             class="p-2 bg-gray-300 text-black dark:bg-gray-700 dark:text-white" />
      <button class="font-medium px-2 py-1 text-white bg-gray-500 dark:text-gray-800 hover:bg-gray-800 dark:hover:bg-gray-100"
              type="submit">Create</button>
    </form>
  </div>
  <div class="min-w-full overflow-hidden rounded shadow">
    <table class="min-w-full leading-normal bg-white dark:bg-gray-700 text-sm">
      <thead class="text-gray-800 dark:text-gray-400">
        <tr>
          <th class="p-3 font-normal text-left uppercase border-b border-gray-200 dark:border-gray-800 w-12">
            <label class="cursor-pointer" for="add-button">{{ template "svg/add" }}</label>
          </th>
          <th class="p-3 font-normal text-left uppercase border-b border-gray-200 dark:border-gray-800">User</th>
          <th class="p-3 font-normal text-left uppercase border-b border-gray-200 dark:border-gray-800 text-center">
            Permissions
          </th>
          <th class="p-3 font-normal text-left uppercase border-b border-gray-200 dark:border-gray-800 w-48">Created</th>
        </tr>
      </thead>
      <tbody class="text-black dark:text-white">
        {{ if not .Data }}
        <tr>
          <td class="text-center p-3" colspan="2">No Results</td>
        </tr>
        {{ end }}
        {{ range $user := .Data }}
        <tr>
          <td class="p-3 border-b border-gray-200 text-gray-800 dark:text-gray-400 cursor-pointer">
            {{ template "svg/delete" }}
          </td>
          <td class="p-3 border-b border-gray-200">
            <p>{{ $user.ID }}</p>
          </td>
          <td class="p-3 border-b border-gray-200 text-center min-w-40">
            <span class="px-2 py-1 rounded-md text-white dark:text-black {{ if $user.Admin }}bg-gray-800 dark:bg-gray-100{{ else }}bg-gray-400 dark:bg-gray-600 cursor-pointer{{ end }}">admin</span>
            <span class="px-2 py-1 rounded-md text-white dark:text-black {{ if $user.Admin }}bg-gray-400 dark:bg-gray-600 cursor-pointer{{ else }}bg-gray-800 dark:bg-gray-100{{ end }}">user</span>
          </td>
          <td class="p-3 border-b border-gray-200">
            <p>{{ $user.CreatedAt }}</p>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>
{{ end }}
