<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=0.90, user-scalable=no, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style"
          content="black-translucent" />
    <meta name="theme-color"
          content="#F3F4F6"
          media="(prefers-color-scheme: light)" />
    <meta name="theme-color"
          content="#1F2937"
          media="(prefers-color-scheme: dark)" />
    <title>AnthoLume - Error</title>
    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/assets/style.css" />
  </head>
  <body class="bg-gray-100 dark:bg-gray-800 flex flex-col justify-center h-screen">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center">
        <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-gray-600 dark:text-gray-500">{{ .Status }}</h1>
        <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">{{ .Error }}</p>
        <p class="mb-8 text-lg font-light text-gray-500 dark:text-gray-400">{{ .Message }}</p>
        <a href="/"
           class="rounded text-center font-medium px-2 py-1 text-white bg-gray-500 dark:text-gray-800 hover:bg-gray-800 dark:hover:bg-gray-100">Back to Homepage</a>
      </div>
    </div>
  </body>
</html>
