{{template "base.html" .}} {{define "title"}}Activity{{end}} {{define "header"}}
<a href="./activity">Activity</a>
{{end}} {{define "content"}}
<div class="overflow-x-auto">
  <div class="inline-block min-w-full overflow-hidden rounded shadow">
    <table class="min-w-full leading-normal bg-white dark:bg-gray-700 text-sm md:text-sm">
      <thead class="text-gray-800 dark:text-gray-400">
        <tr>
          <th
            scope="col"
            class="p-3 font-normal text-left uppercase border-b border-gray-200 dark:border-gray-800"
          >
            Document
          </th>
          <th
            scope="col"
            class="p-3 font-normal text-left uppercase border-b border-gray-200 dark:border-gray-800"
          >
            Time
          </th>
          <th
            scope="col"
            class="p-3 font-normal text-left uppercase border-b border-gray-200 dark:border-gray-800"
          >
            Duration
          </th>
          <th
            scope="col"
            class="p-3 font-normal text-left uppercase border-b border-gray-200 dark:border-gray-800"
          >
            Percent
          </th>
        </tr>
      </thead>
      <tbody class="text-black dark:text-white">
	{{ if not .Data }}
	<tr>
	  <td class="text-center p-3" colspan="4">No Results</td>
	</tr>
	{{ end }}

        {{range $activity := .Data }}
        <tr>
          <td class="p-3 border-b border-gray-200">
	    <a href="./documents/{{ $activity.DocumentID }}">{{ $activity.Author }} - {{ $activity.Title }}</p></a>
          </td>
          <td class="p-3 border-b border-gray-200">
            <p>{{ $activity.StartTime }}</p>
          </td>
          <td class="p-3 border-b border-gray-200">
            <p>{{ $activity.Duration }}</p>
          </td>
          <td class="p-3 border-b border-gray-200">
            <p>{{ $activity.ReadPercentage }}%</p>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
{{end}}
