{{ template "base" . }}
{{ define "title" }}Activity{{ end }}
{{ define "header" }}<a href="./activity">Activity</a>{{ end }}
{{ define "content" }}
  <div class="overflow-x-auto">
    <div class="inline-block min-w-full overflow-hidden rounded shadow">
      <!-- Table Component - Utilizes Template "table-cell" -->
      {{ template "component/table" (dict
        "Columns" (slice "Document" "Time" "Duration" "Percent")
        "Keys" (slice "Document" "StartTime" "Duration" "EndPercentage")
        "Rows" .Data
        )
      }}
    </div>
  </div>
{{ end }}
<!-- Table Cell Definition -->
{{ define "table-cell" }}
  {{ if eq .Name "Document" }}
    <a href="./documents/{{ .Data.DocumentID }}"
      >{{ .Data.Author }} - {{ .Data.Title }}</a
    >
  {{ else if eq .Name "EndPercentage" }}
    {{ index (fields .Data) .Name }}%
  {{ else }}
    {{ index (fields .Data) .Name }}
  {{ end }}
{{ end }}
