{{ if .Link }}<a href="{{ .Link }}" {{ else }} <div {{ end }}class="w-full">
<div class="flex gap-4 w-full p-4 bg-white shadow-lg dark:bg-gray-700 rounded">
  <div class="flex flex-col justify-around dark:text-white w-full text-sm">
    <p class="text-2xl font-bold text-black dark:text-white">{{ .Size }}</p>
    <p class="text-sm text-gray-400">{{ .Title }}</p>
  </div>
</div>
{{ if .Link }}
</a>
{{ else }}
</div>
{{ end }}
